@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("fraud-detected");
}
<div class="page fraud-detected-page">
    <div class="page-body">
        @T("Plugins.Misc.IPQualityScore.PreventFraudPage.Content")
    </div>
</div>